.label {
  color: var(--textColor);
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: auto;
  display: inline;

  &[data-dim="true"] {
    color: var(--textColorDim);
    filter: brightness(0.8);
  }
}

.iconBarContainer {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: auto;
  flex-direction: row;
  display: flex;
  justify-content: flex-end;
}

.iconContainer {
  display: flex;
  margin-left: 0.35em;
  border-radius: 0.2em;
  &:hover {
    filter: brightness(1.2) contrast(1.2);
    background-color: rgba(0, 0, 0, 0.1);
  }

  &[data-disabled="true"] {
    &:hover {
      filter: none;
      background-color: transparent;
    }
  }
}

.iconStyle {
  color: var(--textColorDim);
  width: 1.1em;
  height: 1.1em;
  font-size: 1.1em;
}

.iconStyleDisabled {
  opacity: 0.3;
}

.activeDot {
  color: #34bf42;
  margin-left: 6rem;
}

.itemContainer {
  position: relative;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  background-color: var(--normalColor);
  border-radius: 4px;
  margin: 2px 0;
  border: 1px solid transparent;
  &:hover {
    background-color: var(--hoverColorBright);
  }

  &[data-dragging="true"] {
    z-index: 10;
    background-color: var(--selectedColor-active);
    color: var(--normalTextColor);
  }

  &[data-over="true"] {
    &::after {
      content: '';
      position: absolute;
      left: 0;
      right: 0;
      height: 2px;
      background-color: var(--accentColor);
      z-index: 1;
    }

    &[data-above="true"]::after {
      top: -1px;
    }

    &[data-below="true"]::after {
      bottom: -1px;
    }
  }
  &[data-dim="true"] {
    background-color: var(--activeColorBright);
  }
}

.dragHandle {
  display: flex;
  align-items: center;
  padding: 0 4px;
  margin-right: 4px;
  cursor: grab;
  border-radius: 3px;
  transition: background-color 0.2s;
  touch-action: none;
  user-select: none;

  &:hover {
    background-color: var(--hoverColorBright);
  }

  &:active {
    background-color: var(--selectedColor-active);
  }
}

.dragIcon {
  color: rgb(255, 255, 255);
  transition: opacity 0.2s;
  width: 20rem;
  height: 20rem;
  pointer-events: none;

  &:hover {
    opacity: 0.8;
  }
}

.label {
  color: var(--textColor);
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: auto;
  display: inline;
  transition: color 0.2s;
}

.iconBarContainer {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: auto;
  flex-direction: row;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.iconContainer {
  display: flex;
  margin-left: 0.35em;
}

.iconStyleDisabled {
  opacity: 0.3;
}

.activeDot {
  color: #34bf42;
  margin-left: 0.5em;
  font-size: 1.2em;
  line-height: 1;
  vertical-align: middle;
}

