.label {
    color: var(--textColor);
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: auto;
    display: inline;
    filter: brightness(1);
}

.label.dim {
    color: var(--textColorDim);
    filter: brightness(0.8);
}
.icon-bar-container {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: auto;
    flex-direction: row;
    display: flex;
    justify-content: flex-end;
}
.icon-container {
    display: flex;
    margin-left: 0.35em;
    cursor: pointer;
    transition: all 0.2s ease;

    
    &:hover {
        transform: scale(1.1);
        filter: brightness(1.2) contrast(1.2);
        background: rgba(0, 0, 0, 0.1);
    }
    
    &:active {
        transform: scale(0.95);
    }
}
.icon-style {
    color: var(--textColorDim);
    width: 1.1em;
    height: 1.1em;
    font-size: 1.1em;
}
.active-dot {
    color: rgb(52, 191, 66);
    margin-left: 6rem;
}
.hover{
    &:hover {
    background-color: var(--hoverColorBright);
  }
}

