


.dividerContainer{
    height: 2rem;
    width: auto;
    border-style: solid;
    border-width: 2rem;
    border-color: rgba(255, 255, 255, 0.1);
    margin: 6rem -6rem;
    color: var(--dividerColor)
    
}


.messageContainer{
    margin: 20rem auto;
    flex: 1;
    text-align: center;
}


.notice{
    border-radius: 3rem;
    padding: 8rem;
    display: flex;
    width: 100%;
    background-color: rgba(75, 200, 240, 0.5);
}

.warning{
    border-radius: 3rem;
    padding: 8rem;
    display: flex;
    width: 100%;
    background-color: rgba(200, 0, 0, 0.5);
}

.image{
    width: 20rem;
    height: 20rem;
    margin-right: 8rem;
}

.text{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.radioContainer{
    padding: 0.25em 0.5em;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    &:hover {
        background-color: var(--hoverColorNormal);
    }
}
.circle{
    border-width: 2px;
    border-style: solid;
    border-bottom-color: var(--accentColorNormal);
    border-left-color: var(--accentColorNormal);
    border-right-color: var(--accentColorNormal);
    border-top-color: var(--accentColorNormal);
    border-radius: 50%;
    margin: 0 0.5em 0 0;
    width: 1.0em;
    height: 1.0em;
    padding: 3px;
}
.bullet{
    border-radius: 50%;
    background-color: var(--textColor);
    width: 100%;
    height: 100%;
}
.label{
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.hover{
    &:hover {
        background-color: var(--hoverColorNormal);
    }
}



.rangeContainer{
    padding: 4rem 8rem;
}
.gap{
    height: 6rem;
}
.iconContainer{
    margin-left: 0.25em;
    border-radius: 0.2em;
    &:hover {
        filter: brightness(1.2) contrast(1.2);
        background: rgba(0, 0, 0, 0.1);
    }
    &:disabled {
        &:hover {
            filter: none;
            background: transparent;
        }
    }
}
.titleContainer{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.iconStyle{
    color: var(--textColorDim);
    width: 1em;
    height: 1em;
    font-size: 1em;
}


.rowContainer{
    padding: 0.25em 0.5em;
    width: 100%;
    display: flex;
    align-items: center;
    &:hover {
        filter: brightness(1.2) contrast(1.2);
    }
    &:disabled {
        &:hover {
            filter: none;
        }
    }
}

.titleDimContainer{
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: auto;
    align-items: center;
}
.titleDimText{
    color: var(--textColorDim);
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: auto;
}
.secondaryDimText{
    color: var(--textColorDim);
    margin-left: 6rem;
}


.titleContainer{
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: auto;
    align-items: center;
}
.titleText{
    color: var(--textColor);
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: auto;
    text-align: center;
}
.secondaryText{
    color: var(--textColorDim);
    margin-left: 6rem;
}


